<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama</th>
        <th scope="col">NIM</th>
        <th scope="col">Jurusan</th>
        <th scope="col">Alamat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Rahmat</td>
        <td>41518210032</td>
        <td>Technical Informatics</td>
        <td>Tambun Selatan</td>
      </tr>
    </tbody>
  </table>
</div>
